PORT=5005
MONGODB_URI=mongodb://localhost:27017/matchalize
JWT_SECRET=your_super_secret_jwt_key_here
ALLOW_ALL_EMAILS=true
FRONTEND_URL=http://localhost:5173

# Resend Email API (https://resend.com)
RESEND_API_KEY=

# Cloudinary (for photo uploads)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Production
ALLOW_ALL_EMAILS=false
